.app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  
  .checklist {
    background-color: #dedede;
    padding: 10px;
    position: relative; }
  
  .checklist-item {
    width: 40vw;
    height: 50px;
    background-color: white;
    padding: 5px 10px;
    border-bottom: solid 1px #cecece;
    display: flex;
    align-items: center; }
  
  .drag-handle {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #0041ff;
    margin-right: 10px;
    cursor: grab; }
  
  .drag-placeholder {
    width: 40vw;
    height: 2px;
    background-color: #0041ff;
    position: absolute;
    left: 0; }
  
  .drag-placeholder-appear {
    animation: drag-appear 0.22s forwards; }
  
  .drag-placeholder-disappear {
    animation: drag-disappear 0.22s forwards; }
  
  @keyframes drag-appear {
    0% {
      height: 0;
      opacity: 0; }
    100% {
      height: 50px;
      opacity: 1; } }
  
  @keyframes drag-disappear {
    0% {
      height: 50px;
      opacity: 1; }
    100% {
      height: 0;
      opacity: 0; } }
  